* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #222222;
    --text-color: #FFFFFF;
    --secondary-color: #007CED;
    --box-shadow-color: #131313;
    --site-background-color: #333333;
}

body, html{
    background: var(--bg-color);
}

/* default classes */
.section {
    max-width: 68rem;
    margin: 0 auto;
    padding: 6rem;
}

/* Styling Navbar */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.9);
    backdrop-filter: blur(8px);
    background: var(--bg-color);
    z-index: 50;
}

/* Making navbar sticky */

.sticky {
    box-shadow: 0 2px 20px var(--box-shadow-color);
}

.navbar {
    display: flex;
    width: 68rem;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
    margin: 0 auto;
}

header img {
    width: fit-content;
    height: 3rem;
}

.nav-items {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    width: 30rem;
    justify-content: space-between;
    align-items: center; 
}

li:hover {
    cursor: pointer;
}

.navbar-components {
    display: flex;
    align-items: center;
}

.nav-items li {
    color: var(--text-color);
    list-style-type: none;
    font-size: 1rem;
    opacity: 0.5;
    padding: 0 12px;
}

@media only screen and (max-width: 992px) {
    .navbar {
        padding: 0 2rem;
    }
    .nav-items {
        width: 26rem;
    }
}


@media only screen and (max-width: 768px) {
    header {
        display: none;
    }

    .left-sidebar, .right-sidebar {
        display: none;
    }

    .section {
        padding: 6rem 3rem;
    }
} 


/* Home page styling */

#home {
    /* padding-top: 12rem; */
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    height: 100vh;
    gap: 7%;
}

.gif-circle {
    height: fit-content;
    width: 20rem;
    border-radius: 50%;
    border: 14px solid #444444;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home_desc {
    display: grid;
    gap: 2rem;
}

.job-title {
    font-size: 1.3rem;
    color: var(--text-color);
    opacity: 0.5;
    font-weight: 400;
}

.my-desc {
    font-size: 1.05rem;
    color: var(--text-color);
    font-weight: 400;
    text-align: justify;
}

#home h2 {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    margin: 0.2rem 0 0.5rem;
}

.home_buttons {
    display: flex;
    gap: 3rem;
}

@media only screen and (max-width: 992px) {
    #home {
        flex-direction: column;
        row-gap: 5rem;
    }
    
    .gif-circle {
        height: 14rem;
        width: 14rem;
        border: 0.8rem solid #444444;
    }
    
    #home h2 {
        font-size: 2rem;
    }
    
    .text-desc {
        max-width: 40rem;
    }
}

@media only screen and (max-width: 768px) {
    #home {
        padding-top: 8rem;
    }
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 9rem;
    height: 3.5rem;
    border-radius: 30px;
    background-color: var(--site-background-color);
    color: var(--text-color);
    font-size: 1.15rem;
    border: 5px solid #FFFFFF;
    outline: none !important;
    box-shadow: 0 4px 5px #000000;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.btn-contact {
    border: 5px solid var(--text-color);
    box-shadow: inset 0 0 1em rgba(15, 15, 15, 0.811), 0 0 1em rgba(18, 18, 18, 0.77);
}

.btn-contact:hover {
    cursor: pointer;
    color: #333;
    background-color: var(--text-color);
	box-shadow: inset 0 0 0 rgba(18, 18, 18, 0.77), 0 0 1.5em rgba(18, 18, 18, 0.77);
}

.btn-resume {
    border: 5px solid #007CED;
    box-shadow: inset 0 0 1em rgba(15, 15, 15, 0.811), 0 0 1em rgba(18, 18, 18, 0.77);
}

.btn-resume:hover{
    cursor: pointer;
    background-color: #007CED;
	box-shadow: inset 0 0 0 rgba(18, 18, 18, 0.77), 0 0 1.5em rgba(18, 18, 18, 0.77);
}

/* ****************************ABOUT ME******************************* */

#about {
    height: 100vh;
    display: flex;
}

.content-title {
    max-width: fit-content;
    margin-bottom: 2.25rem;
}

.content-title p {
    display: flex;
    font-size: 2rem;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.inner-bar {
    display: flex;
    height: 2px;
}

.inner-bar-blue {
    background-color: var(--secondary-color);
    height: 2px;
    width: 50%;
}

.inner-bar-dark {
    background-color: var(--site-background-color);
    height: 2px;
    width: 100%;
}


.title_img {
    height: 3rem;
    width: fit-content;
    margin-bottom: 2.25rem;
}

.about-content-parent {
    display: flex;
    justify-content: center;
}

.about-content {
    display: flex;
    justify-content: center;
    gap: 6rem;
    align-items: center;
    /* width: 68rem; */
}


.about-text {
    display: flex;
    flex-direction: column;
}

/* .about_img {
    height: fit-content;
    width: 12rem;
    border-radius: 8px;
    margin-top: 4rem;
} */

.about_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    width: 12rem;
    position: relative;
    border: 2px solid var(--secondary-color);
}

.my_pic{
    height: fit-content;
    width: 12rem;
    position: absolute;
    top: -15px;
    left: -15px;
}

.about_img:hover {
    transform: translate(20px, 20px);
}

.wrapper {
    position: relative;
    display: inline-block;

}
.bdr {
    border: 2px solid var(--secondary-color);
    height: 270px;
    width: 200px;
    position: absolute;
    left: 5px;
    top: 5px;
    transition: 200ms;
    border-radius: 4px;
}
.my_pic {
    height: 270px;
    width: 200px;
    border-radius: 4px;
    position: relative;
}

.overlay_pic {
    background:rgba(0, 124, 237, 0.35);
    position: absolute;
    transition: opacity .20s ;
}

.wrapper:hover .bdr {
    left: 1px;
    top: 1px;
}

.wrapper:hover .overlay_pic{
    opacity: 0;
    
}

.about-description {
    font-size: 1rem;
    text-align: justify;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6rem;
    max-width: 30rem;
}

@media only screen and (max-width: 768px){
    .about-content {
        flex-direction: column;
    }
    .about-text {
        order: 2;
    }
    .content-header h2 {
        font-size: 2.5rem;
        margin: 1rem 4rem;
    }
}

/* ================ Styling skills section =================== */


#Skills {
    height: 100vh;
}

.skill-parent {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.skill-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 18rem;
    width: 40%;
    border: 2px solid red;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.skills-set {
    height: 70%;
    width: 70%;
    border: 2px solid #007CED;
}

#Skills h3 {
    color: var(--text-color);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    
}


