* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --bg-color: #0A192F;
    --text-color: #CCD6F6;
    --secondary-color: #62F9D5;
    --box-shadow-color: #131313;
    --site-background-color: #333333;
    --site-width: 68rem;
}

body, html{
    background: var(--bg-color);
}

/* default classes */
.section {
    max-width: var(--site-width);
    margin: 0 auto;
    padding: 6rem;
}

/* Styling Navbar */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0A192F;
    backdrop-filter: blur(8px);
    background: var(--bg-color);
    z-index: 6;
}

/* Making navbar sticky */

.sticky {
    box-shadow: 0 2px 20px var(--box-shadow-color);
}

.navbar {
    display: flex;
    width: var(--site-width);
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
    margin: 0 auto;
}

header img {
    width: fit-content;
    height: 3rem;
}

.nav-items {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    width: 30rem;
    justify-content: space-between;
    align-items: center; 
}

li:hover {
    cursor: pointer;
}

.navbar-components {
    display: flex;
    align-items: center;
}

.nav-items li {
    color: var(--text-color);
    list-style-type: none;
    font-size: 1rem;
    padding: 0 12px;
}

.nav-item{
    text-decoration: none;
    color: var(--text-color);
}

.ul_block {
    display: block;
}

/* hamburger */
.hamburger {
    display: none;
    position: fixed;
    z-index: 10;
    cursor: pointer;
    background: none;
    border: none;
    right: 0.5rem;
    top: 0px;
}

.line {
    fill: none;
    stroke: white;
    stroke-width: 4;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 4;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 4;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4;
}

@media only screen and (max-width: 1366px) {
    :root {
        --site-width: 80vw;
    }
}

@media only screen and (max-width: 960px) {
    
    .hamburger {
        display: flex;
    }

    .nav-items {
        display: none;
    }

    .navbar {
        width: 100%;
        overflow-x: hidden;
    }

    .ul_block {
        top: 0;
    }

}


/* @media only screen and (max-width: 768px) {
    header {
        display: none;
    }

    .left-sidebar, .right-sidebar {
        display: none;
    }

    .section {
        padding: 6rem 3rem;
    }
}  */


/* Home page styling */

#home {
    /* padding-top: 12rem; */
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    height: 100vh;
    gap: 7%;
}

.gif-circle {
    height: fit-content;
    width: 20rem;
    border-radius: 50%;
    border: 14px solid #0e254698;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home_desc {
    display: grid;
    gap: 2rem;
}

.job-title {
    font-size: 1.3rem;
    color: var(--text-color);
    opacity: 0.8;
    font-weight: 400;
}

.my-desc {
    font-size: 1.05rem;
    color: var(--text-color);
    font-weight: 400;
    text-align: justify;
}

#home h2 {
    font-size: 4.5rem;
    color: var(--text-color);
    font-weight: 600;
    margin: 0.2rem 0 0.5rem;
}

.home_buttons {
    display: flex;
    gap: 3rem;
}

@media only screen and (max-width: 992px) {
    #home {
        flex-direction: column;
        row-gap: 5rem;
    }
    
    .gif-circle {
        height: 14rem;
        width: 14rem;
        border: 0.8rem solid #0e254698;;
    }
    
    #home h2 {
        font-size: 2rem;
    }
    
    .text-desc {
        max-width: 40rem;
    }
}

@media only screen and (max-width: 768px) {
    #home {
        padding-top: 8rem;
    }
}


.btn{
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 1.25rem 1.75rem;
}
.btn:hover {
  background-color: rgba(79, 202, 178, 0.2);;
  outline: none;
}

.nav-btn {
    padding: 0.55rem 0.8rem;
}


/* ****************************ABOUT ME******************************* */

#about {
    height: 100vh;
    display: flex;
}

.content-title {
    max-width: fit-content;
    margin-bottom: 2.25rem;
}

.content-title p {
    display: flex;
    font-size: 2rem;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.inner-bar {
    display: flex;
    height: 2px;
}

.inner-bar-blue {
    background-color: var(--secondary-color);
    height: 2px;
    width: 50%;
}

.inner-bar-dark {
    background-color: var(--site-background-color);
    height: 2px;
    width: 100%;
}


.title_img {
    height: 3rem;
    width: fit-content;
    margin-bottom: 2.25rem;
}

.about-content-parent {
    display: flex;
    justify-content: center;
}

.about-content {
    display: flex;
    justify-content: center;
    gap: 6rem;
    align-items: center;
}


.about-text {
    display: flex;
    flex-direction: column;
}

.about_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    width: 12rem;
    position: relative;
    border: 2px solid var(--secondary-color);
}

.my_pic{
    height: fit-content;
    width: 12rem;
    position: absolute;
    top: -15px;
    left: -15px;
}

.about_img:hover {
    transform: translate(20px, 20px);
}

.wrapper {
    position: relative;
    display: inline-block;

}
.bdr {
    border: 2px solid var(--secondary-color);
    height: 270px;
    width: 200px;
    position: absolute;
    left: 5px;
    top: 5px;
    transition: 200ms;
    border-radius: 4px;
}
.my_pic {
    height: 270px;
    width: 200px;
    border-radius: 4px;
    position: relative;
}

.overlay_pic {
    background:rgba(79, 202, 178, 0.35);
    position: absolute;
    transition: opacity .20s ;
}

.wrapper:hover .bdr {
    left: 1px;
    top: 1px;
}

.wrapper:hover .overlay_pic{
    opacity: 0;
    
}

.about-description {
    font-size: 1rem;
    text-align: justify;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6rem;
    max-width: 30rem;
}

@media only screen and (max-width: 768px){
    .about-content {
        flex-direction: column;
    }
    .about-text {
        order: 2;
    }
    .content-header h2 {
        font-size: 2.5rem;
        margin: 1rem 4rem;
    }
}

/* ================ Styling skills section =================== */


#Skills {
    height: 100vh;

}

.skill-parent {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

.skills-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 18rem;
    width: 40%;
    border: 1px solid var(--secondary-color);
    background-color: #111;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.skill-content-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
}

.content-title span {   
    color: var(--text-color);
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.skills-set {
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 75%;
    justify-content: space-between;
}

#Skills h3 {
    color: var(--text-color);
    font-weight: 400;
    font-family: 'Roboto', sans-serif; 
}

.sub-skill-title {
    margin: 12px;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.icon-div {
    display: inline-block;
    width: 30px;
}

.my-icon{
    width: inherit;
    font-size: 2px;
}

.sub-skill {
    display: flex;
    flex-direction: row;
}

.sub-skill-title-div h3{
    padding-bottom: 3px;
}

.selection-left, .selection-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-skill span {
    color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

#Skills .content-title {
    margin-bottom: 5rem;
}

/* ==================== Styling project section ======================= */

#Projects {
    height: 200vh;
}


.project-content {
    display: flex;
    height: inherit;
    width: 100%;
    justify-content: center;
    margin-bottom: 6.5rem;
}

.project-title {
    margin-bottom: 5rem;
}

.project-showcase {
    display: flex;
    column-gap: 5%;
}

.project-showcase > * {
    flex: 1;
}

.showcase-img{
    max-width: 45%;
    border-radius: 8px;
}

.project-text {
    max-width: 50%;
}

.p-styled {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-bottom: 0.5rem;
}

.p-odd {
    text-align: end;
}

.p-even {
    text-align: start;
}

.project-wrap {
    flex-direction: row-reverse;
}

.featured-project {
    font-size: 1rem;
    color: var(--secondary-color);
    font-weight: 400;
}

.project-text h2 {
    font-size: 1.5rem;
    text-decoration: bold;
    color: var(--text-color);
    font-weight: 600;
}

.project-desc {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
    opacity: 0.8;
    text-align: justify;
}

.project-links {
    display: flex;
    flex-direction:row;
    gap: 20px;
}

.p-even-link {
    flex-direction: row-reverse;
}

/* ============ SIDE BARS STYLING ================= */

/* Side bars styling */

.socials-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 28rem;
}

.left-sidebar {
    position: fixed;
    bottom: 22rem;
    height: 0;
    padding-left: 1.5rem;
}

.left-sidebar li {
    list-style-type: none;
}

.social-icons {
    font-size: 1.5rem;
    color: var(--text-color);
    transition: transform 0.3s, color 0.3s;
}

.social-icons:hover {
    transform: translateY(-3px);
    color: var(--secondary-color);
    cursor: pointer;
}

/* Styling right sidebar */

.right-sidebar {
    position: fixed;
    height: 0;
    bottom: 24rem;
    right: 1.5rem;
}

.right-sidebar li{
    list-style-type: none;
    padding-bottom: 1rem;
    writing-mode: vertical-rl;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.right-sidebar a {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.085rem;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

.right-social-icon {
    transition: transform 0.3s, color 0.3s;
}

.right-social-icon:hover{
    transform: translateY(-3px);
    color: var(--secondary-color);
}

/* Hobbies page styling */

.hobbies-img-div img{
    width: 11.5rem;
    height: 2.81rem;
    margin-top: 2.81rem;
    margin-left: 7.625rem;
}

.hobby-btn {
    display: flex;
    margin-top: 1.5rem;
}

.hobby-btn-blog{
    margin-top: 1.5rem;
}

.hobby-text {
    padding: 2rem;
}

.hobby-text-02 {
    box-shadow: 0 2px 20px var(--box-shadow-color);
}

.hobby-music-master-div {
    background-image: url("./components/music_02.jpeg");
    background-repeat: no-repeat;
    height: 18rem;
    border-radius: 8px;
}

@media only screen and (max-width: 768px) {
    .project-showcase {
        flex-direction: column;
        align-items: center;
    }

    .project-text h2 {
        font-size: 1.25rem;
    }
    
    .p-odd {
        text-align: start
    }
    
    .project-text {
        margin-top: 2rem;
        max-width: 90%;
    }

    .project-desc {
        text-align: justify;
    }
    .showcase-img {
        max-width: 60%;
    }
}

@media only screen and (max-width: 640px) {
    .proj_parent {
        display: grid;
        gap: 3rem;
    }
    .project-content {
        margin-bottom: 1rem;
    }
    .showcase-img {
        max-width: 90%;
    }
    .project-text {
        max-width: 100%;
    }
}

/* Contact Details */


.contact-details-parent{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-details {
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Poppins', sans-serif;
}

.wht-next {
    font-size: 1.1rem;
    color: var(--secondary-color);
    font-weight: 800;
}

.contact-desc {
    color: var(--text-color);
    opacity: 0.8;
    text-align: center;
}

.contact-details h2{
    color: var(--text-color);
    font-size: 3.25rem;
    font-weight: 600;
    margin: 0;
}

.contact-details a{
    margin-top: 2rem;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}


@media only screen and (max-width: 768px) {
    .contact-details {
        margin-bottom: 7rem;
    }
    .contact-details h2 {
        font-size: 2.5rem;
        margin: 1rem 0;
    }

    .contact-desc {
        text-align: justify;
    }
}

::-webkit-scrollbar {
    width: 0.5rem; 
}
  
::-webkit-scrollbar-track {
    background-color: var(--bg-color); 
}
  
::-webkit-scrollbar-thumb {
    background-color: #495670;
    border-radius: 5vw;
}

  /* ====== ADDITIONAL CSS ========== */

  .no-effect {
    transform: none;
    translate: none;
  }
  .no-effect:hover{
    cursor:default;
    translate: none;
    transform: none;
}

.no-effect-btn:hover {
    translate: none;
    transform: none;
}
